<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/posts/create">New Post</a></li>
  </ul>
  <%= yield %>
</body>
</html>